        <bean parent="RelyingPartyByName" c:relyingPartyIds="google.com">
            <property name="profileConfigurations">
                <list>
                    <bean parent="SAML2.SSO" p:encryptAssertions="false" />
                    <bean parent="SAML2.SSO" p:encryptNameIDs="false" />
                </list>
            </property>
        </bean>
